*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.media-card {
    height: 25rem;
    width: 23rem;
    margin-bottom: 10px;
}

.media-container {
    height: 80%;
    width: 100%;
    border: 1px solid;
}

.action-container {
    height: 20%;
    width: 100%;
    border: 1px solid;
}

.action-container button {
    width: 100%;
    height: 50%;
    color: white;
    font-size: 1.5rem;
    outline: none;
    border: none;
}

.media-gallery{
    height: 100%;
    width: 100%;
}

.media-download {
    background-color: green;
}

.media-delete {
    background-color: red;
}

#back {
    position: fixed;
    height: 4rem;
    width: 5rem;
    right: 3rem;
    bottom: 4rem;
    font-size: 1.5rem;

}